@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">Telerik Grid Demo</h1>
</div>
 <div id="grid"></div>
@section Scripts {
    <script src="./js/kendo/jquery.min.js"></script>
    <script src="./js/kendo/jszip.min.js"></script>
    <script src="./js/kendo/kendo.all.min.js"></script>
    <script src="../content/shared/js/console.js"></script>
    <script>
        $(document).ready(function () {
            $("#grid").kendoGrid({
                dataSource: {
                    schema: {
                        data: "data",
                        total: "total",
                        aggregates: "aggregates",
                        groups: "groups",
                        errors: "errors",
                    },
                    transport: {
                        read: {
                            url: "/books/getBooks",
                            dataType: 'json',
                            contentType: 'application/json; charset=utf-8',
                            type: 'POST'
                        },
                        parameterMap: function (data, operation) {
                            return JSON.stringify(data);
                        }
                    },
                    error: function(e) {
                        console.log(e.errors);
                        e.sender.cancelChanges();
                    },
                    pageSize: 100,
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true,
                },
                height: 800,
                groupable: true,
                sortable: true,
                reorderable: true,
                resizable: true,
                filterable: {
                  operators: {
                    string: {
                      eq: "Equal to",
                      contains: "Contains"
                    }
                  },
                },
                columnMenu: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                columns: [{
                    field: "userId",
                    title: "User Id",
                    width: 100,
                }, {
                    field: "created",
                    title: "Created",
                    width: 150,
                }, {
                    field: "isbn",
                    title: "ISBN",
                    width: 150
                }, {
                    field: "note",
                    title: "Note",
                    width: 200
                }
                , {
                    field: "fileName",
                    title: "File Name",
                    width: 200
                }
                , {
                    field: "fileSize",
                    title: "File Size",
                    width: 200
                }
                , {
                    field: "videoDuration",
                    title: "Video Duration",
                    width: 100
                }
                , {
                    field: "uploadDate",
                    title: "Upload Date",
                    width: 150
                }]
            });
        });
    </script>
}